*{
    margin: 0;
    padding: 0;
}
.feedBackForm{
    width: 35%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 3%;
}
.feedBackForm h3{
    margin: 0 auto;
}
#about{
    height: 150px;
}


/* user-contactus */
.contact-head{
    text-align:left;
    margin: auto;
    padding:25px;
}
.contact-form{
    margin:15px 20px;}
.contactus-para{
    text-align:justify;
}
/* end */

/* userprofile */
.nrc-group {
    display: flex;
    align-items: center;
    gap: 5px;}

  
 
